{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-8 my-auto mx-2">
                <div class="bg-teal text-white p-4">
                    <h1 class="logo-font responsive-heading">
                        Unique one of a kind products
                    </h1>
                </div>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="btn btn-primary btn-lg">Discover Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}