<footer class="small mt-auto pt-3 pb-2 bg-purple text-light footer">
    <!-- Footer Container -->
    <div class="container text-center mx-auto">
        <div class="row justify-content-center">
            <!-- Column 1: About Pages -->
            <div class="col-md-4 pb-1">
                <hr class="custom-hr">
                <h5><a href="{% url 'about' %}" aria-label="About Pages" class="text-white text-hover-gold footer-heading">🔍 Find out more</a></h5>
                <ul class="social-icons list-inline text-center">
                    <li class="list-inline-item"><a href="{% url 'about' %}" class="text-cyan text-hover-gold"
                        aria-label="About Us"><i class="fas fa-info-circle fa-2x"></i> About</a></li>
                    <li class="list-line-item"><a href="{% url 'about_page_detail' pk='9' %}" class="text-cyan text-hover-gold"
                        aria-label="Contact Us"><i class="fas fa-envelope fa-2x"></i> Contact</a></li>
                    <li class="list-inline-item"><a href="{% url 'about_page_detail' pk='7' %}" class="text-cyan text-hover-gold"
                        aria-label="FAQ"><i class="fas fa-question-circle fa-2x"></i> FAQ</a></li>
                    <li class="list-inline-item"><a href="{% url 'about_page_detail' pk='6' %}" class="text-cyan text-hover-gold"
                        aria-label="Privacy Policy"><i class="fas fa-lock fa-2x"></i> Privacy</a></li>
                </ul>
            </div>
            <!-- Column 2: Blog Posts -->
            <div class="col-md-2 pb-1">
                <hr class="custom-hr">
                <h5><a href="{% url 'blog' %}" aria-label="Blog Posts" class="text-white text-hover-gold footer-heading">😁 Blog</a></h5>
                <ul class="social-icons list-inline justify-content-center">
                    <li class="list-inline-item">
                        <a href="{% url 'blog' %}" aria-label="Blog Posts" class="text-cyan text-hover-gold">
                            <i class="fas fa-blog fa-2x"></i> Blog<span class="text-purple">_</span>Posts</a>
                    </li>
                </ul>
            </div>
            <!-- Column 3: Social Links -->
            <div class="col-md-4 pb-1">
                <hr class="custom-hr">
                <h5><a href="https://www.facebook.com/people/Onlineaiart/61550214234067/" target="_blank" rel="noopener noreferrer"
                    aria-label="Facebook" class="text-white text-hover-gold footer-heading">📲 Follow Us</a></h5>
                <ul class="social-icons list-inline text-center">
                    <li class="list-inline-item"><a href="https://www.facebook.com/people/Onlineaiart/61550214234067/" target="_blank" class="text-cyan text-hover-gold"
                            rel="noopener noreferrer" aria-label="Facebook"><i class="fab fa-facebook fa-2x"></i> Facebook</a>
                    </li>
                    <li class="list-inline-item"><a href="https://twitter.com/" target="_blank" class="text-cyan text-hover-gold"
                            rel="noopener noreferrer" aria-label="Twitter"><i class="fab fa-twitter fa-2x"></i> Twitter</a>
                    </li>
                    <li class="list-inline-item"><a href="https://www.discord.com/" target="_blank" class="text-cyan text-hover-gold"
                            rel="noopener noreferrer" aria-label="Discord"><i class="fa-brands fa-discord fa-2x"></i> Discord</a>
                    </li>
                    <li class="list-inline-item"><a href="https://github.com/KC-7/ecommerce" target="_blank" class="text-cyan text-hover-gold"
                            rel="noopener noreferrer" aria-label="GitHub"><i class="fab fa-github fa-2x"></i> GitHub</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Logo at end of footer -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <hr class="custom-hr">
                <p class="text-center text-small mb-0 text-white">
                    <small>onlineAI.art | est. 2023</small>
                </p>
            </div>
        </div>
    </div>
</footer>