<footer class="small mt-auto py-3 bg-purple text-light footer">
    <!-- Footer Container -->
    <div class="container text-center">
        <div class="row">
            <!-- Column 1: About -->
            <div class="col-md-4 p-2">
                <h5>🔍 Find out more</h5>
                <ul class="social-icons list-inline text-center">
                    <li class="list-inline-item"><a href="{% url 'about' %}"
                        aria-label="About Us"><i class="fas fa-info-circle fa-2x"></i> About</a></li>
                    <li class="list-inline-item"><a href="{% url 'about' %}"
                        aria-label="Contact Us"><i class="fas fa-envelope fa-2x"></i> Contact</a></li>
                    <li class="list-inline-item"><a href="{% url 'about' %}"
                        aria-label="FAQ"><i class="fas fa-question-circle fa-2x"></i> FAQ</a></li>
                    <li class="list-inline-item"><a href="{% url 'about' %}"
                        aria-label="Privacy Policy"><i class="fas fa-lock fa-2x"></i> Privacy</a></li>
                </ul>
            </div>
            <!-- Column 2: Email Sign Up Form -->
            <div class="col-md-4 p-2">
                <h5>📬 Contact Us</h5>
                <p class="pt-3">
                    Please contact us at <a href="mailto:contact@cre8ai.art" aria-label="Send an email">contact@onlineai.art</a>, 
                    we would love to hear from you!
                </p>

            </div>
            <!-- Column 3: Social Links -->
            <div class="col-md-4 p-2">
                <h5>📲 Follow Us</h5>
                <ul class="social-icons list-inline text-center">
                    <li class="list-inline-item"><a href="https://www.facebook.com/" target="_blank"
                            rel="noopener noreferrer" aria-label="Facebook"><i class="fab fa-facebook fa-2x"></i> Facebook</a>
                    </li>
                    <li class="list-inline-item"><a href="https://twitter.com/" target="_blank"
                            rel="noopener noreferrer" aria-label="Twitter"><i class="fab fa-twitter fa-2x"></i> Twitter</a>
                    </li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/" target="_blank"
                            rel="noopener noreferrer" aria-label="Instagram"><i class="fab fa-instagram fa-2x"></i> Instagram</a>
                    </li>
                    <li class="list-inline-item"><a href="https://www.youtube.com/" target="_blank"
                            rel="noopener noreferrer" aria-label="YouTube"><i class="fab fa-youtube fa-2x"></i> YouTube</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Logo at end of footer -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center text-small mb-0 text-white">
                    <small>onlineAI.art | est. 2023</small>
                </p>
            </div>
        </div>
    </div>
</footer>