{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="Explore AI Technology and Generative Art through our Blog Posts. Discover Insights, Updates, and More at onlineAI.art!">
{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mt-5 mb-auto">
  <div class="row mb-4">
    <div class="col-12">
      <h1 class="text-black mb-4 typewriter-text"><i class="fas fa-blog"></i> Blog Posts!</h1>
      <hr>
      <p>Check out our blog posts to find out more information about AI Technology:</p>
    </div>
    <div class="col-10 offset-1">
      {% for blog_page in page_obj %}
      <div class="card mb-3 rounded-4 bg-silver">
        <div class="row g-0">
          {% if forloop.counter|divisibleby:2 %}
            <!-- Text content for odd blog posts on larger screens and below the image for smaller screens -->
            <div class="col-12 col-md-9 order-2 order-md-1">
              <div class="card-body">
                <h3 class="card-title">
                  <a href="{% url 'blog_page_detail' pk=blog_page.pk %}">{{ blog_page.title }}</a>
                </h3>
                <p class="card-text text-black">{{ blog_page.content|striptags|truncatewords:30|safe }}</p>
                <div class="text-end">
                  <a href="{% url 'blog_page_detail' pk=blog_page.pk %}"
                    class="btn btn-sm btn-black mb-2 float-right">Read More</a>
                </div>
              </div>
            </div>
            <!-- Image for odd blog posts on larger screens and top for smaller screens -->
            <div class="col-12 col-md-3 order-1 order-md-2">
              {% if blog_page.image %}
                <div class="d-flex align-items-center justify-content-center h-100">
                  <img src="{{ blog_page.image.url }}" alt="{{ blog_page.title }}"
                    class="img-fluid rounded-circle img-preview p-3">
                </div>
              {% else %}
                <div class="d-flex align-items-center justify-content-center h-100">
                  <img src="{{ MEDIA_URL }}alien-emoji.png" alt="Default image for {{ blog_page.title }}"
                    class="img-fluid rounded-circle img-preview p-4">
                </div>
              {% endif %}
            </div>
          {% else %}
            <!-- Image for even blog posts on larger screens and top for smaller screens -->
            <div class="col-12 col-md-3 order-1">
              {% if blog_page.image %}
                <div class="d-flex align-items-center justify-content-center h-100">
                  <img src="{{ blog_page.image.url }}" alt="{{ blog_page.title }}"
                    class="img-fluid rounded-circle img-preview p-3">
                </div>
              {% else %}
                <div class="d-flex align-items-center justify-content-center h-100">
                  <img src="{{ MEDIA_URL }}alien-emoji.png" alt="Default image for {{ blog_page.title }}"
                    class="img-fluid rounded-circle img-preview p-4">
                </div>
              {% endif %}
            </div>
            <!-- Text content for even blog posts on larger screens and below the image for smaller screens -->
            <div class="col-12 col-md-9 order-2">
              <div class="card-body">
                <h3 class="card-title">
                  <a href="{% url 'blog_page_detail' pk=blog_page.pk %}">{{ blog_page.title }}</a>
                </h3>
                <p class="card-text text-black">{{ blog_page.content|striptags|truncatewords:30|safe }}</p>
                <div class="text-end">
                  <a href="{% url 'blog_page_detail' pk=blog_page.pk %}"
                    class="btn btn-sm btn-black mb-2 float-right">Read More</a>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col text-end mb-2">
      <a href="{% url 'home' %}" class="btn btn-primary">Home Page</a>
      {% if user.is_superuser %}
      <a href="{% url 'create_blog_page' %}" class="btn btn-secondary float-right">Create New</a>
      {% endif %}
    </div>
  </div>
</div>
{% if is_paginated %}
<div class="row">
  <div class="col-12">
    <!-- Pagination -->
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        {% if page_obj.number|add:"-2" > 0 %}
        <li>
          <a href="?page=1" class="page-button" aria-label="Go to first page">
            <i class="fa-solid fa-backward-fast"></i>
          </a>
        </li>
        {% endif %}
        {% if page_obj.has_previous %}
        <li>
          <a href="?page={{ page_obj.previous_page_number }}" class="page-button" aria-label="Go to previous page">
            <i class="fa-solid fa-backward-step"></i>
          </a>
        </li>
        {% endif %}
        <!-- Display current page number and total pages -->
        <li class="align-self-center">
          <span class="page-info">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
          </span>
        </li>
        {% if page_obj.has_next %}
        <li>
          <a href="?page={{ page_obj.next_page_number }}" class="page-button" aria-label="Go to next page">
            <i class="fa-solid fa-forward-step"></i>
          </a>
        </li>
        {% endif %}
        {% if page_obj.number|add:"1" < page_obj.paginator.num_pages %}
        <li>
          <a href="?page={{ page_obj.paginator.num_pages }}" class="page-button" aria-label="Go to last page">
            <i class="fa-solid fa-forward-fast"></i>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
  {% endif %}
</div>
{% endblock %}