{% extends "base.html" %}
{% load static %}

{% block extra_js %}
<script src="https://cdn.ckeditor.com/ckeditor5/38.1.1/classic/ckeditor.js"></script>
{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="mb-4 col-12 col-md-8 offset-1">
  <div class="container py-5">
    <div class="row">
      <div class="col-12">
        <h1 class="text-black"><i class="fas fa-blog"></i> Create a New Blog Page:</h1>
        <hr>
        <form method="post" action="{% url 'create_blog_page' %}" class="my-3">
          {% csrf_token %}
            {% for field in form %}
                {% if field.name != 'image' %}
                    {{ field | as_crispy_field }}
                {% else %}
                    {{ field }}
                {% endif %}
            {% endfor %}
          <button type="submit" class="btn btn-primary float-right mx-2">Create</button>
          <a href="{% url 'blog' %}" class="btn btn-secondary float-right mx-2">Cancel</a>
        </form>
        {% if error_message %}
        <div class="alert alert-danger mt-3">
          {{ error_message }}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block postloadjs %}
<script>
  ClassicEditor
    .create(document.querySelector('#id_content'), {
      toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote'],
      heading: {
        options: [{
            model: 'paragraph',
            title: 'Paragraph',
            class: 'ck-heading_paragraph'
          },
          {
            model: 'heading2',
            view: 'h2',
            title: 'Heading 2',
            class: 'ck-heading_heading2'
          },
          {
            model: 'heading3',
            view: 'h3',
            title: 'Heading 3',
            class: 'ck-heading_heading3'
          },
          {
            model: 'heading4',
            view: 'h4',
            title: 'Heading 4',
            class: 'ck-heading_heading4'
          }
        ]
      }
    })
    .then(editor => {
      window.editor = editor;
    })
    .catch(error => {
      const errorMessage = 'There was a problem initializing the editor.'
    });
</script>

{{ block.super }}
  <script type="text/javascript">
    $('#new-image').change(function() {
        var file = $('#new-image')[0].files[0];
        $('#filename').text(`Image will be set to: ${file.name}`);
    });
  </script>
{% endblock %}