{% extends "base.html" %}
{% load static %}

{% block extra_js %}
<script src="https://cdn.ckeditor.com/ckeditor5/38.1.1/classic/ckeditor.js"></script>
{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container my-4">
  <div class="row">
    <div class="col-12 col-md-8 mx-auto">
      <h1 class="my-4 text-black"><i class="fas fa-blog"></i> Edit Blog Page</h1>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-8 mx-auto">
      <form method="POST" action="{% url 'edit_blog_page' pk=blog.id %}" class="form mb-2"
        enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        {% if field.name != 'image' %}
        {{ field | as_crispy_field }}
        {% else %}
        {{ field }}
        {% endif %}
        {% endfor %}
        <div class="float-right">
          <a class="btn btn-primary" href="{% url 'blog' %}">Cancel</a>
          <button class="btn btn-secondary" type="submit">Update Blog</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block postloadjs %}
<!-- Remove CKEditor from devices with screen widths below 380px -->
<script>
  if (window.innerWidth >= 380) {
    ClassicEditor
      .create(document.querySelector('#id_content'), {
        toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote'],
        heading: {
          options: [{
              model: 'paragraph',
              title: 'Paragraph',
              class: 'ck-heading_paragraph'
            },
            {
              model: 'heading2',
              view: 'h2',
              title: 'Heading 2',
              class: 'ck-heading_heading2'
            },
            {
              model: 'heading3',
              view: 'h3',
              title: 'Heading 3',
              class: 'ck-heading_heading3'
            },
            {
              model: 'heading4',
              view: 'h4',
              title: 'Heading 4',
              class: 'ck-heading_heading4'
            }
          ]
        }
      })
      .then(editor => {
        window.editor = editor;
      })
      .catch(error => {
        const errorMessage = 'There was a problem initializing the editor.';
      });
  } else {
    // Fallback UI for small screens here if needed
    let textarea = document.querySelector('#id_content');
    if (textarea) {
      textarea.style.width = '100%';
      textarea.placeholder =
        "Simple editor mode enabled. Please use a larger screen to enable the integrated HTML editor.";
      alert(
        'Simple editor mode enabled. For a better experience, please use a larger screen to endable the integrated HTML editor.'
      );
    }
  }
</script>

{{ block.super }}
<script type="text/javascript">
  $('#new-image').change(function () {
    var file = $('#new-image')[0].files[0];
    $('#filename').text(`Image will be set to: ${file.name}`);
  });
</script>
{% endblock %}