{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}| Change Password{% endblock %}

{% block extra_meta %}
    <meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <h2 class="text-black mb-4 mt-4">{% trans "Change Password" %}</h2>
    <hr>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <a class="btn btn-primary" href="{% url 'account_login' %}">Back to Login</a>
        <button class="btn btn-secondary" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
