{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="bg-white h-100">
  <div class="container py-5">
    <div class="row mb-4">
        <div class="col-12">
          <h1 class="text-black">Find out more!</h1>
          <p>Check out our about us pages to find out more information. Feel free to contact us if you need anything further.</p>
        </div>
        <div class="col-12">
          {% for about_page in about_pages %}
            <h3 class="pl-3"><a href="{% url 'about_page_detail' pk=about_page.pk %}">{{ about_page.title }}</a></h3>
          {% empty %}
            <p>No about pages yet.</p>
          {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col text-end">
            {% if user.is_superuser %}
                <a href="{% url 'create_about_page' %}" class="btn btn-primary">Create New About Page</a>
            {% endif %}
            <a href="{% url 'home' %}" class="btn btn-secondary">Home Page</a>
        </div>
    </div>
  </div>
</div>
{% endblock %}