{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="Learn more about onlineAI.art by checking out our {{ about_page.title }} page. Discover what you need to know through this detailed information page.">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
{% include "about/delete_page_modal.html" %}
<!-- About Page Details -->
<div class="mb-4">
    <div class="container py-5">
        <div class="row mb-4">
            <div class="col-12">
                <h1 class="text-black"><i class="fa-solid fa-circle-info"></i> {{ about_page.title }}</h1>
                <hr>
                <div class="pl-3 pt-3">{{ about_page.content|safe }}</div>
                <div class="text-right">Created: {{ about_page.created_at }}</div>
                <hr>
            </div>
            <div class="col-4">
                <a href="{% url 'about' %}" class="btn btn-primary">Back</a>
            </div>
            {% if user.is_superuser %}
            <div class="col-4 text-center">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deletePageModal">
                    Delete
                </button>
            </div>
            <div class="col-4 text-right"><a href="{% url 'edit_about_page' pk=about_page.pk %}" class="btn btn-secondary">Edit</a></div>
            {% endif %}
        </div>
    </div>
</div>
<!-- Back to top button -->
<div class="btt-button shadow-sm rounded-2 border border-black bg-teal z-index-1">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-white mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    // Smooth scroll to top when the button is clicked
    $('.btt-link').click(function (e) {
        e.preventDefault();
        $('html, body').animate({
            scrollTop: 0
        }, 'slow');
    });

    // Function to toggle the visibility of the scroll-to-top button
    function toggleScrollToTopButton() {
        const button = $('.btt-button');
        const scrollPosition = $(window).scrollTop();

        // Show the button if the scroll position is greater than 0
        // Otherwise, hide the button
        if (scrollPosition > 0) {
            button.removeClass('hide');
        } else {
            button.addClass('hide');
        }
    }

    // Check the visibility of the button on page load
    toggleScrollToTopButton();

    // Check the visibility of the button on scroll
    $(window).scroll(function () {
        toggleScrollToTopButton();
    });
</script>
{% endblock %}