{% extends "base.html" %}
{% load static %}

{% block extra_title %}| Products{% endblock %}

{% block extra_js %}
<!-- Mailchimp Email Pop Up -->
<script id="mcjs">
    ! function (c, h, i, m, p) {
        m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(
            m, p)
    }(document, "script",
        "https://chimpstatic.com/mcjs-connected/js/users/7fcf7ba076152bf0d67b5af49/dd23ecf8e6cd44d5ce0a44dc4.js");
</script>
{% endblock %}

{% block extra_meta %}
    <meta name="description" content="Explore our wide range of custom clothing, tech, and homeware with limited edition AI-generated artwork at OnlineAI.Art. Discover unique products and accessories featuring innovative AI designs.">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="overlay"></div>
<div class="container mb-4">
    <!-- Categories -->
    <div class="row">
        <div class="col text-center mt-5">
            <h2 class="text-black"><i class="fa-solid fa-shirt"></i> Products</h2>
            {% for c in current_categories %}
            <a href="{% url 'products' %}?category={{ c.name }}" class="category-badge text-decoration-none">
                <span class="p-2 mt-2 badge badge-white text-black rounded-2 border border-dark">
                    {{ c.friendly_name }}
                </span>
            </a>
            {% endfor %}
            <hr class="w-50 mb-1">
        </div>
    </div>
    <!-- Products List -->
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-50">
                        <select id="sort-selector"
                            class="custom-select custom-select-sm rounded-2 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...
                            </option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price
                                (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price
                                (high to low)</option>
                            <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>
                                Rating (low to high)</option>
                            <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>
                                Rating (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name
                                (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name
                                (Z-A)</option>
                            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>
                                Category (A-Z)</option>
                            <option value="category_desc"
                                {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-3 text-center text-md-left">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
                        {% endif %}
                        {{ products|length }} Products{% if search_term %} found for
                        <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
            </div>
            <div class="row">
                {% for product in page_obj %}
                {% include "products/delete_page_modal.html" %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid bounce-hover" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid bounce-hover" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <a href="{% url 'product_detail' product.id %}">
                            <div class="card-body pb-0">
                                <p class="mb-0 text-black text-hover-purple">{{ product.name }}</p>
                            </div>
                        </a>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">€{{ product.price }}</p>
                                    {% if product.category %}
                                    <p class="small mt-1 mb-0">
                                        <a href="{% url 'products' %}?category={{ product.category.name}}"
                                            class="text-muted text-hover-teal">
                                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                        </a>
                                    </p>
                                    {% endif %}
                                    {% if product.rating %}
                                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} /
                                        5</small>
                                    {% else %}
                                    <small class="text-muted">No Rating</small>
                                    {% endif %}

                                    {% if request.user.is_superuser %}
                                    <small class="float-right">
                                        <a class="text-white btn-black bg-purple p-1" href="{% url 'edit_product' product.id %}">Edit</a> |
                                        <button type="button" class="text-white btn-black bg-danger border-danger border-1" data-toggle="modal" data-target="#deletePageModal">
                                            Delete
                                        </button>
                                    </small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Code for HR line to appear under each row -->

                {% if forloop.counter|divisibleby:1 %}
                <!-- By using 'd-sm-none', it will only allow it (the hr) to be displayed on small screen sizes -->
                <div class="col-12 d-sm-none mb-5">
                    <hr>
                </div>
                {% endif %}

                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                    <hr>
                </div>
                {% endif %}

                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                    <hr>
                </div>
                {% endif %}

                {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block mb-5">
                    <hr>
                </div>
                {% endif %}

                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Pagination -->
    {% if is_paginated %}
    <div class="row pt-1">
        <div class="col-12">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.number|add:"-2" > 0 %}
                    <li>
                        <a href="?page=1" class="page-button" aria-label="Go to first page">
                            <i class="fa-solid fa-backward-fast"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if page_obj.has_previous %}
                    <li>
                        <a href="?page={{ page_obj.previous_page_number }}" class="page-button"
                            aria-label="Go to previous page">
                            <i class="fa-solid fa-backward-step"></i>
                        </a>
                    </li>
                    {% endif %}
                    <!-- Display current page number and total pages -->
                    <li class="align-self-center">
                        <span class="page-info">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                        </span>
                    </li>
                    {% if page_obj.has_next %}
                    <li>
                        <a href="?page={{ page_obj.next_page_number }}" class="page-button"
                            aria-label="Go to next page">
                            <i class="fa-solid fa-forward-step"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if page_obj.number|add:"1" < page_obj.paginator.num_pages %}
                    <li>
                        <a href="?page={{ page_obj.paginator.num_pages }}" class="page-button" aria-label="Go to last page">
                            <i class="fa-solid fa-forward-fast"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    {% endif %}
    {% if request.user.is_superuser %}        
        <!-- Add Product Button -->
        <a href="{% url 'add_product' %}" class="btn btn-black offset-1 my-2 float-right">Add New Product</a>
    {% endif %}
</div>

<!-- Back to top button -->
<div class="btt-button shadow-sm rounded-2 border border-black bg-teal z-index-1">
    <a class="btt-link d-flex h-100" href="#" rel="nofollow" aria-label="Back to top of page">
        <i class="fas fa-arrow-up text-white mx-auto my-auto"></i>
    </a>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    // Smooth scroll to top when the button is clicked
    $('.btt-link').click(function (e) {
        e.preventDefault();
        $('html, body').animate({ scrollTop: 0 }, 'slow');
    });

    // Function to toggle the visibility of the scroll-to-top button
    function toggleScrollToTopButton() {
        const button = $('.btt-button');
        const scrollPosition = $(window).scrollTop();

        // Show the button if the scroll position is greater than 0
        // Otherwise, hide the button
        if (scrollPosition > 0) {
            button.removeClass('hide');
        } else {
            button.addClass('hide');
        }
    }

    // Check the visibility of the button on page load
    toggleScrollToTopButton();

    // Check the visibility of the button on scroll
    $(window).scroll(function () {
        toggleScrollToTopButton();
    });
</script>

<script>
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}